extends ../shared/template
block content
  .row
    .col-xs-4
    .col-xs-4
      img(src= person.photo)
      h2(align="center")= person.name
    .col-xs-3
  .row
    .col-xs-5
    .col-xs-4
      table.table.table-bordered
        tr
          td(align="right")
            font(size="3", face="courier") Age
          td(align="left")
            font(size="3", face="courier") #{person.age}
        tr
          td(align="right")
            font(size="3", face="courier") Gender
          td(align="left")
            font(size="3", face="courier") #{person.gender}
        tr
          td(align="right")
            font(size="3", face="courier") Money
          td(align="left")
            font(size="3", face="courier") #{person.money}
