extends ../shared/template


block content
  h1 Create a new country
  form(action='/countries', method='post')
   .form-group
     label(for='Name') Name
     input.form-control(type='text', placeholder='Name', name='name')
   .form-group
     label(for='Photos') Photos
     input.form-control(type='text', placeholder='Photos', name='photos')
   .form-group
     label(for='Balance') Balance
     input.form-control(type='number', placeholder='Balance', name='balance')
   .form-group
     button(type='Submit').fa-spin Make a Country !!!
