extends ../shared/template


block content
  h1 Here is your country (show page)

  h1 List of Cities
  table
    each city in cities
      tr
        td
          a(href=`cities/${city._id}`)=city.name
        td
          img(src=city.photos)
